@tailwind base;
@tailwind components;
@tailwind utilities;



@responsive{
  .rotate-45{
    transform: rotate(45deg);
  }
}

@variants hover {
  .color {
    color: white;
    background: rgb(12, 58, 52);
  }

}
