@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  @apply text-3xl text-green-800 font-semibold;
}

h2{
  @apply text-3xl text-blue-800 font-semibold;
}

h3{
  @apply text-3xl text-red-800 font-semibold;
}

@responsive{
  .rotate-45{
    transform: rotate(45deg);
  }
}

@variants hover {
  .color {
    color: white;
    background: rgb(12, 58, 52);
  }

}

