@tailwind base;
@tailwind components;
.form-control{
  @apply w-full leading-snug text-gray-800 py-1 px-4 rounded bg-gray-300 border border-blue-300 placeholder-secondary;
}

.form-control:hover{
  @apply hover:bg-white
}

.form-control:focus{
  @apply focus:outline-none
}

.btn {
  @apply px-4 py-1 rounded shadow-xl bg-gray-500 mx-auto block
}

.btn:hover{
  @apply hover:shadow-none hover:bg-gray-700 hover:text-white
}

@tailwind utilities;

h1{
  @apply text-3xl text-green-800 font-semibold;
}

h2{
  @apply text-3xl text-blue-800 font-semibold;
}

h3{
  @apply text-3xl text-red-800 font-semibold;
}

@responsive{
  .rotate-45{
    transform: rotate(45deg);
  }
}

@variants hover {
  .color {
    color: white;
    background: rgb(12, 58, 52);
  }

}

